.bold {
    font-family: fontBold;
}

@font-face {
    font-family: fontBold;
    src: url(../assets/fonts/Ubuntu-Bold.ttf);
}

.medium {
    font-family: fontMedium;
}

@font-face {
    font-family: fontMedium;
    src: url(../assets/fonts/Ubuntu-Medium.ttf);
}

.regular {
    font-family: fontRegular;
}

@font-face {
    font-family: fontRegular;
    src: url(../assets/fonts/Ubuntu-Regular.ttf);
}

body {
    font-family: fontRegular;
}

.colorGrey {
    color: hsl(231, 11%, 63%);
    font-size: 12px;
}