#backSideBar {
  position: absolute;
}

.sidebar {
  width: 274px;
  height: 568px;
  display: flex;
  justify-content: center;
}

.sidebar ol {
  list-style: none;
  /* Inicializa o contador personalizado */
  counter-reset: custom-counter;
  /* Remove o espaçamento padrão da lista */
  padding-left: 0;
  padding-top: 50px;
}

.sidebar ol li {
  /* Incrementa o contador personalizado a cada item */
  counter-increment: custom-counter;
  /* Espaçamento entre os itens */
  margin-bottom: 8px;
  /* Permite posicionar o marcador personalizado */
  position: relative;
  color: #ffffff;
  margin-bottom: 35px;
  /* Espaço entre o marcador e o texto */
  padding-left: 50px;
}

.sidebar ol li::before {
  /* Mostra o número do contador personalizado */
  content: counter(custom-counter);
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  /* Posiciona o marcador dentro do espaço reservado no item */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.activeStep::before {
  background-color: hsl(206, 94%, 87%);
  border-color: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
}