/* GENERAL */
.step {
    padding: 50px;
    /* margin-right: 40px; */
}

.next {
    border-radius: 10px;
    align-self: flex-end;
    background-color: hsl(213, 96%, 18%);
    color: white;
}

button {
    padding: 10px 20px;
    max-width: 130px;
    border: none;
    position: absolute;
    bottom: 0px;
}

button:hover {
    cursor: pointer;
}

.next:hover {
    background-color: hsl(213, 62%, 35%);
    cursor: pointer;
}

.header1 {
    margin-bottom: 50px;
}

.field {
    display: flex;
    justify-content: space-between;
}

.d-none {
    display: none;
}

.back {
    background-color: white;
    color: hsl(229, 24%, 87%);
}

.back:hover {
    color: hsl(213, 96%, 18%);
}

/* STEP 1 */
#step1 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 40px;
}

input {
    padding: 15px 20px;
    border: 1px solid hsl(231, 11%, 63%);
    border-radius: 5px;
    width: 350px;
    margin: 10px 0px 40px 0px;

}

input:focus {
    border: 1px solid hsl(243, 100%, 62%);
}

/* STEP 2 */
#step2 {
    display: none;
    flex-direction: column;
    position: relative;

}

.svg {
    max-width: 40px;
}

/* STEP 3 */
#step3 {
    display: none;
}

/* STEP 4 */
#step4 {
    display: none;
}

/* STEP 5 */
#step5 {
    display: none;
}