.attribution {
  margin-top: 30px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsl(0, 0%, 93%);
}

#container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 850px;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 10px 10px 15px #00000073;
}