/* STEP 1 */
#step1 {
    display: flex;
    margin-right: 20px;
}

input[type="text"] {
    padding: 15px 20px;
    border: 1px solid hsl(231, 11%, 63%);
    border-radius: 5px;
    width: 380px;
    margin: 10px 0px 40px 0px;

}

input[type="text"]:focus {
    border: none;
    outline: 1px solid hsl(243, 100%, 62%);
}

#Next1 {
    right: 20px;
}