/* STEP 2 */
#step2 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 440px;
}

.svg {
    max-width: 40px;
}

#cards {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    border: 1px solid hsl(231, 11%, 63%);
    border-radius: 10px;
    height: 130px;
    width: 120px;
    padding: 15px 0px 15px 15px;
    justify-content: space-between;
    flex-direction: column;
}

.cardActive {
    border: 1px solid hsl(243, 100%, 62%);
    background-color: hsla(243, 100%, 62%, 0.13);
}

.card:hover {
    cursor: pointer;
    border: 1px solid hsl(243, 100%, 62%);
}